<div>
  <h2>Odometer</h2>
</div>
<form action="/odometer" method="post">
  <div class="form-group">
    <label>Max mile</label>
    <input type="number" class="form-control" name="maxOdo">
  </div>
  <div class="form-group">
    <label>Min mile</label>
    <input type="number" class="form-control" name="minOdo">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>